table {
  border-collapse: collapse;
  padding: 10px;
  width: 100%;
}

thead {
  background-color: #0c0c0c;
  color: #eaeaea;
  height: 2rem;
}

.dash-nav {
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}

td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.dash-value {
  width: 120px;
}

.dash-griffe {
  width: 150px;
}

.dash-actions {
  width: 60px;
}

.actions {
  background-color: #00000000;
  color: #0c0c0c;
  padding: 0px;
}

.dash-row svg {
  cursor: pointer;
  font-size: 1rem;
  margin: 0px 3px;
}

.dash-row:nth-child(even) {
  background: #ccc;
}

.dash-row:hover {
  background-color: white;
}

.monospace-font {
  font-family: 'Nova Mono', monospace;
}
