.login {
  display: flex;
}

.login-left {
  background-color: black;
  border-radius: 9px 0 0 9px;
  color: aliceblue;
  height: 80vh;
  max-height: 600px;
  width: 40vw;
  max-width: 350px;
}

.login-left img {
  width: 80%;
  height: auto;
}

.login-right {
  height: 80vh;
  max-height: 600px;
  width: 60vw;
  max-width: 650px;
}

.input-login svg {
  font-size: 2rem;
}

.msg-valuation {
  position: absolute;
  top: 15px;
}